.footercontainer .footer footer{
    text-align: left;
    padding: 10px;
    font-size: larger;
}
.footercontainer .footer{
    width: 80vw;
    position: relative;
    bottom: 0%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    order: 2px solid rgba(29, 31, 31, 0.308);
    padding: 10px;
    border-radius: 7.5px;
    background: linear-gradient(to left,hotpink,orange);
    box-shadow: 0px 0px 50px 15px rgba(81, 82, 81, 0.885);
}
