body{
  background: url(./assets/532035-digital_art-abstract-colorful-wavy_lines.jpg);
  color: rgb(50, 34, 72);
  font-weight: 500;
  min-height: 100vh;
  position: relative;
}
*{
  font-size: max(1vw,1vh,10px);
}