.header{
    display: flex;
    font-size: 1.25rem;
    justify-content: space-between;
    width: 79vw;
    position: relative;
    border: 2px solid rgba(29, 31, 31, 0.308);
    padding: max(1vw,1vh,10px);
    top: 0;
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(to left,hotpink,orange);
    border-radius: 7.5px;
    box-shadow: 0px 0px 50px 15px rgba(81, 82, 81, 0.885);

  }
  
  .headermat2{
    display: flex;
    gap: min(10px,1.5vw);
  }
  .headermat2 li{
    list-style: none;
  }
  .header .headermat2 li a {
    color: #000; /* Default link color */
    text-decoration: none;
    padding: 10px;
}

.header .headermat2 li a.active {
    color: #007bff; /* Active link color */
    font-weight: bold;
}
